DB_HOST ="localhost"
BD_PORT=3306
DB_NAME="db_name"
DB_CHARSET="utf8mb4"
DB_USER="user"
DB_PASSWORD="password"

Permet aux parties externe de pouvoir se co avec leur propre paramètres de config. Ce fichier remplacera le fichier caché "db.ini".