/* Global  */
#btn_addnew {
    background: linear-gradient(to right, #264653, #2A9D8F);
    color: white;
}

/* Header  */
.custImgHead img {
    padding-left: 80px;
    width: 200px;
}

/* HOME */
.background-image-container {
    background-image: url('../uploads/img/home_img.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.logoInverted {
    width: 300px;
    filter: invert(100%);
}

.custAnim {
    opacity: 0;
    animation: fadeInFromLeft 1s ease forwards;
}

.custAnim2 {
    animation: fadeInFromLeft2 1s ease forwards;
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInFromLeft2 {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 0.5;
        transform: translateX(0);
    }
}

.btncust {
    animation: fadeInFromLeft 1s ease forwards;
    animation-delay: 0.2s;
}

.titleh2 {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 80px 0;
}

.col-md-5.col-lg-3, .col-md-5.offset-md-1.mb-3 {
    margin-bottom: 80px;
}

.custom-background {
    background-color: rgba(0, 192, 146, 0.3);
}

.title-heading {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-sm {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    background-color: #264653;
    border-color: #264653;
    color: white;
}

.btn-sm:hover {
    background-color: white;
    color: #264653;
}

.hidden {
    display: none;
}


/* page liste recette */
.custom-bg-image {
    background-image: url('../uploads/img/page-recette-prez.png');
    height: 50vh;
}

.custom-heading {
    font-size: 100px;
    opacity: 0.5;
}

#searchButton, #btn_voir_plus {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    background-color: #264653;
    border-color: #264653;
    color: white;
}

#searchButton:hover, #btn_voir_plus:hover {
    background-color: white;
    color: #264653;
}

.col-md-5.col-lg-3 {
    margin-bottom: 80px;
}

.custom-card {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.cat-icon {
    width: 35px;
}

.card-img-top {
    width: 250px;
}

.card-title {
    font-size: 25px;
    font-weight: 600;
}

.filter-dropdown {
    display: flex;
    align-items: center;
}

#resetFilterButton {
    display: none;
    cursor: pointer;
    margin-left: 10px;
}

#resetFilterButton img {
    width: 20px;
    height: 20px;
}

.active > .page-link, .page-link.active {
    background-color: #264653;
    border-color: white;
    color: white;
}

#cardset {
    margin-bottom: 25px;
}

/* page recette :id */
.custom-carousel-control-prev {
    color: black;
}

.custom-carousel-control-next {
    color: black;
}

.custom-right-column {
    overflow-y: auto;
    max-height: calc(100vh - 60px);
}

.custom-content-padding {
    padding-left: 40px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.custom-title {
    font-weight: 600;
}

.custom-footer {
    background-color: #264653;
}


/* page connexion */
.custom-bg-color {
    background-color: #eee;
}

.gradient-custom-2 {
    background: #0c081b;
    background: -webkit-linear-gradient(to right, #264653, #2A9D8F);
    background: linear-gradient(to right, #264653, #2A9D8F);
}

.detailpassword {
    font-style: italic;
    padding-top: 10px;
    opacity: 70%;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

#btn_co {
    color: #264653;
}

#btn_co:hover {
    background: linear-gradient(to right, #264653, #2A9D8F);
    color: white;
    border-color: white;
}

.logo {
    width: 185px;
}

.logo-inverted {
    width: 185px;
    filter: invert(100%);
}

.text-danger {
    color: red;
}

.customtxtsize {
    font-size: 20px;
}

/* FOOTER */
#footer_menu {
    display : flex;
    justify-content: center;
}

#bgFooter {
    background-color: #264653;
}

#footer_menu {
    margin-bottom: 1.5rem;
}

.nav-link {
    color: #fff; 
}

.footer-social-icons img {
    width: 40px; 
}

