/* Backoffice */
/* Génrale page */

/* HEADER */
.bg-header {
    background-color: #264653;
    min-height: 100vh;
}

.dashboard {
    position: fixed;
    padding: 15px 20px;
    z-index: 1000;
    height: 100%;
}

@media (max-width: 992px) {
    .dashboard {
        position: relative; 
        height: auto;
        overflow-y: visible;
    }
}

.dashboard-nav {
    padding: 30px;
}

@media (min-width: 992px) and (max-width: 1150px) {
    .dashboard-nav {
        padding-left: 0px;
    }
}

.dashboard-nav a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    transition: background 0.3s;
}

.dashboard-nav a:hover,
.dashboard-nav .active {
    background: rgba(255, 255, 255, 0.1);
}

.iconprofilbloc {
    display: flex;
    align-items: center;
}

.profile-picture {
    margin-right: 20px;
}

.text-white p {
    margin: 0;
}

.txt-cust-hello {
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}

.lineCust {
    opacity: 50%;
    height: 1px;
    background-color: rgba(236, 238, 239, 0.3);
}

.dashboard-nav-item img {
    width: 17px;
}

.image-white-filter {
    filter: invert(1);
}

.nav-item-divider {
    height: 1px;
    background-color: rgba(236, 238, 239, 0.3);
    margin: 1rem 0;
}

#btn_deco {
    color: #ffffff;
    padding: 8px 18px;
    border-color: white;
}

#btn_deco:hover {
    background: white;
    color: #264653;
    border-color: white;
}

.btn-container {
    margin-top: 25px;
}

/* Header Edit Recipe */
#btn_voir_plus {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: #264653;
    border-color: #264653;
    color: white;
}

#btn_voir_plus:hover {
    background-color: white;
    color: #264653;
}

/* Active recette - homepage Backoffice */
.recipe-title {
    font-weight: 600;
}

.recipe-icon {
    width: 35px;
}

.recipe-details, .recipe-link {
    font-size: 14px;
}

.btn-icon {
    width: 14px;
    margin-right: 7px;
}

#btn_modif {
    font-size: 14px;
}

.page-link {
    color: #264653;
}

.recipe-category {
    font-size: 18px;
}

#btn_modif {
    background-color: #264653;
    color: white;
    border-color: white;
}

/* Add recette - Backoffice */
.form-label {
    margin-bottom: 0.5rem;
}

.form-control {
    font-size: 15px;
}

.form-group {
    margin-bottom: 1.5rem; 
}

#btn_addnew {
    background: linear-gradient(to right, #264653, #2A9D8F);
    color: white;
}

/* EDIT RECETTE */
.fixed-image {
    height: 100px; 
    object-fit: cover; 
}

/* Recette desactivé  */

.custMess {
    font-size: 17px;
}