/* Backoffice */
/* Génrale page */

/* HEADER */
.bg-header {
    background-color: #264653;
    min-height: 100vh;
}

.dashboard {
    padding: 15px 20px;
    z-index: 1000;
    height: 100%;
}

@media (max-width: 992px) {
    .bg-header {
        min-height: auto;
    }
}

@media (max-width: 992px) {
    .dashboard {
        height: auto;
        overflow-y: visible;
    }

}

.dashboard-nav {
    padding: 30px;
}

@media (min-width: 992px) and (max-width: 1150px) {
    .dashboard-nav {
        padding-left: 0px;
    }
}

.dashboard-nav a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    transition: background 0.3s;
}

.dashboard-nav a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.iconprofilbloc {
    display: flex;
    align-items: center;
}

.profile-picture {
    margin-right: 20px;
}

.text-white p {
    margin: 0;
}

.txt-cust-hello {
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}

.lineCust {
    opacity: 50%;
    height: 1px;
    background-color: rgba(236, 238, 239, 0.3);
}

.dashboard-nav-item img {
    width: 17px;
}

.image-white-filter {
    filter: invert(1);
}

.nav-item-divider {
    height: 1px;
    background-color: rgba(236, 238, 239, 0.3);
    margin: 1rem 0;
}

#btn_deco {
    color: #ffffff;
    padding: 8px 18px;
    border-color: white;
}

#btn_deco:hover {
    background: white;
    color: #264653;
    border-color: white;
}

.btn-container {
    margin-top: 25px;
}

.menuBurgerResp {
    display: none;
}

/* Menu burger */
@media (max-width: 992px) {
    .menuBurgerResp {
        display: block;
        filter: invert(1);
        opacity: 80%;
    }

    .navbar-collapse {
        display: none;
    }

    .navbar-collapse.show {
        display: block;
    }

    .image-menu-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .dashboard-nav {
        padding: 15px 30px;
    }

    .ham {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .hamRotate.active {
        transform: rotate(45deg);
    }
    
    .hamRotate180.active {
        transform: rotate(180deg);
    }
    
    .line {
        fill:none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke:#000;
        stroke-width:5.5;
        stroke-linecap:round;
    }
    
    .ham1 .top {
        stroke-dasharray: 40 139;
    }
    .ham1 .bottom {
        stroke-dasharray: 40 180;
    }
    .ham1.active .top {
        stroke-dashoffset: -98px;
    }
    .ham1.active .bottom {
        stroke-dashoffset: -138px;
    }
    
}



/* Header Edit Recipe */
#btn_voir_plus {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: #264653;
    border-color: #264653;
    color: white;
}

#btn_voir_plus:hover {
    background-color: white;
    color: #264653;
}

/* Active recette - homepage Backoffice */
.recipe-title {
    font-weight: 600;
}

.recipe-icon {
    width: 35px;
}

.recipe-details, .recipe-link {
    font-size: 14px;
}

.btn-icon {
    width: 14px;
    margin-right: 7px;
}

#btn_modif {
    font-size: 14px;
}

.page-link {
    color: #264653;
}

.recipe-category {
    font-size: 18px;
}

#btn_modif {
    background-color: #264653;
    color: white;
    border-color: white;
}

/* Add recette - Backoffice */
.form-label {
    margin-bottom: 0.5rem;
}

.form-control {
    font-size: 15px;
}

.form-group {
    margin-bottom: 1.5rem; 
}

#btn_addnew {
    background: linear-gradient(to right, #264653, #2A9D8F);
    color: white;
}

/* EDIT RECETTE */
.fixed-image {
    height: 100px; 
    object-fit: cover; 
}

/* Recette desactivé  */

.custMess {
    font-size: 17px;
}